<div class="formHeader">
     <%= link_to 'New Recipe', new_recipe_path, :class => 'btn btn-large btn-success' %>
 </div>

<div class="page-header">
        <h1>Recipes <small>yum, yum, yum!</small> <p>Create <%= link_to 'new recipes', new_recipe_path %>, or add an existing one to your kitchen.</p><br />
           
        </h1>
     
      
      </div>

      

    <% @recipes.each do |r| %>
        <%= render :partial => "shared/recipe", :locals => {:r => r} %>

      <% end %>
    </div>






<br />

</div>
