/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'css/bootstrap.css'
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);
@import url(http://fonts.googleapis.com/css?family=Lato);

/*body {
	margin-top: 20px;
}

*{
margin: 0; padding: 0;
}

#nav, #content { 
	float: left;
}

#nav {
width: 100px;
border: 1px dashed #252525; 
border-radius: 15px;
margin-right: 10px;
height: 100%;
clear: both;
background: #99ccff;
overflow: hidden;
}



.CreateNew {
	clear:both;
	margin-top: 50px;
}

.Recipe {
	font-family: 'Lato', sans-serif;
	height: auto;
	width: 100%;
	clear: both;
	margin-top: 25px;
}

.ShowRecipe {
	font-family: 'Lato', sans-serif;
	height: auto;
	
}

.ShowRecipe img {
	max-width: 350px;
	float: right;
	padding: 1px;
	position: relative;
}

.Recipe img {
	max-width: 300px;
	float: right;
}

.RecipeSteps {
	border-top: grey dashed 1px;
	width: auto;
}

a:visited {
	color:black;
}

------------*/


#page-content {
	padding-right: 175px ;
	position: relative;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}
#page-wrapper {
  position: relative;
  width: 980px;
  /* centers the document */
  margin: 0 auto;
  /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
/*  overflow: hidden;*/
  height: auto;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 body>p, body>h1, body>h2, body>h3, body>h4, body>h5, body>h6 {
  margin-top: 0 !important;
}
/* Set floating dom-heading margins to 0 */
[class*="dom-heading"] {
  margin: 0;
}

.navbar .navbar-inner .nav li a.a-2 {
  font-family: helvetica;
  color: #ffffff;
  text-shadow: none;
  text-shadow: black 1px 1px 1px; 


}
.navbar {
  width: 871px;
  height: 42px;
  position: absolute;
  top: -2px;
  left: 109px;
}

.navbar .navbar-inner {
  background-image: none;
  background-color: #1c87c9;
  border: none;
  border-radius: 2px;
}

.navbar .navbar-inner .brand {
  font-family: helvetica;
  text-align: center;
  text-shadow: black 1px 1px 1px; 
  color: white;
}

.image {
  width: 110px;
  height: 131px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.page-header {
  width: 700px;
  height: 50px;
  position: relative;
  top: 60px;
  left: 140px;
  margin-bottom: 100px;
}

.dom-heading {
  width: 910px;
  height: 42px;
  font-family: Arial;
  font-size: 20pt;
  line-height: 1.2;
  position: relative;
  float: left;
  top: 158px;
  left: 50px;
  margin-bottom: 165px;
}

.thumbnails {
  width: 960px;
  height: auto;
  position: relative;

	margin-top: 40px;
}

.thumbnail {
	width: 300px;
	height: 300px;
	overflow: hidden;
	text-align: center;
}

.thumbnail img {
	max-height: 600px;
	max-width: 600px;
	height: auto;
	width: auto;
	vertical-align: middle;
}

.hero-unit .btns .btn.btn-1 {
  background-image: none;
  background-color: #39cc3e;
}

.hero-unit {
  position: relative;
  clear: both;
  margin-top: 60px;
  left: 60px;
  overflow: hidden;
  max-height: 300px;
  width: 850px;
}

.hero-unit .heading {
  color: #333333;
}

.rectangle {
  position: relative;
  margin-top: -45px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #888888;
  float: right;
  max-height: 330px;
  max-width: 430px;

}

.ShowRecipe {
	height: 100%;
	margin-top: 30px;
	position: relative;
	
}

.ShowRecipe img {
	max-width: 450px;
	float: right;
	padding: 0px;
	margin-top: -5px;
	position: relative;
}


/*Kitchens!*/

.hero-unit-k {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
  left: 60px;
  max-height: 300px;
  background: #eee;
  width: 300px;
  padding: 45px;
}

.hero-unit-k .heading {
  color: #333333;
}

.hero-unit-k .btns .btn.btn-1 {
  background-image: none;
  background-color: #39cc3e;
}

.formHeader {
  width: auto;
  height: 50px;
  position: relative;
  margin-bottom: 75px;
  top: 60px;
  z-index: 4;

	float: right;

}

/*Ingredients*/

.hero-unit-i {
  position: relative;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  left: 60px;
  max-height: 300px;
  background: #eee;
  width: 300px;

  padding: 15px;
}

.hero-unit-i .heading {
  color: #333333;
}

.hero-unit-i .btns .btn.btn-1 {
  background-image: none;
  background-color: #39cc3e;
}

.RecipeButtons {
	float: right;
	margin-bottom: 60px;
	z-index: 0;
	position: relative;

}


.field {
	width: 600px;
}

.HomeHeader {
  width: 125px;
  height: 50px;
  position: relative;
  margin-bottom: 75px;
  top: 60px;
  float: left;
  clear: both;
  z-index: 4;
}

